<html>
  <head>
    <title>Ep3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-link">
        <a class="nav-link " href="#">Menu</a>
      </li>
    </ul>

    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Home</a>
    </nav>

    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Menu</a>
    </nav>

    <div class="jumbotron">
  <h1 class="display-3">Gregolisco!</h1>
  <p class="lead">Confira o nosso cardápio e faça seu pedido!</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">

    
    <%= link_to "Home", home_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to "Cardápio", cardapio_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to "Entrar", entrar_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to "Cadastre-se", cadastro_path, class: 'btn btn-primary btn-lg' %>

  </p>
</div>

</nav>

  </head>

  <body>

    <%= yield %>

  </body>
</html>
