<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cardapio.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @cardapio.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @cardapio.preco %>
</p>

<p>
  <strong>Link imagem:</strong>
  <%= @cardapio.link_imagem %>
</p>

<%= link_to 'Editar', edit_cardapio_path(@cardapio) %> |
<%= link_to 'Voltar', cardapios_path %>
