<!DOCTYPE html>
<html>
  <head>
    <ul>
 <li><a href="home">Home</a></li>
 <li><a href="fale_conosco">Fale conosco</a></li>
 <li><a href="contact.asp">Contact</a></li>


    <br>
    </ul>
    <br>

    <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>
      </p>

    <title>Ep3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </nav>
        <div class="jumbotron">
      <h1 class="display-3">Gregolisco!</h1>
      <p class="lead">Confira o nosso cardápio e faça seu pedido!</p>
      <hr class="my-4">
      <p></p>
      <p class="lead">
        <%= link_to "Cardápio", cardapio1_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to "Entrar", new_user_session_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to "Cadastrar", new_user_registration_path, class: 'btn btn-primary btn-lg'%>
      </p>
    </div>
  </head>

  <body>
    <p class= "notice"><%=notice %></p>
    <p class = "alert"> <%= alert %> </p>
    <%= yield %>

  </body>
</html>
